name = "dnsdingyue"
main = "index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
workers_dev = true
preview_urls = true


[env.production]
name = "subscription-manager"

routes = [
  { pattern = "dingyue.qdws.dpdns.org", zone_name = "qdws.dpdns.org" }
]
workers_dev = false
preview_urls = false

[env.staging]
name = "dnsdingyue"

# KV 命名空间配置
[[kv_namespaces]]
binding = "SUBSCRIPTIONS_KV"
preview_id = "SUBSCRIPTIONS_KV"
id = "14f54f443b1847099430d6d057e08268"

# 定时任务配置 - 每天早上8点检查
[triggers]
crons = ["0 8 * * *"]

# 环境变量（可选，也可以在 Cloudflare Dashboard 中设置）
[vars]
ENVIRONMENT = "production"
